:root {
	--pendo-teal: #128297;
	--pendo-dark-teal: #016479;
	--pendo-pink: #ec2059;
	--pendo-charcoal: #2f3641;
}

body {
	margin: 24px;
	min-width: 200px;
}

#pendota-popup-wrapper {
	font-size: 14px;
}

.popup-button {
	background-color: var(--pendo-teal);
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color: white;
	cursor: pointer;
	display: block;
	font-family: proxima-nova, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin: 16px auto;
	outline: 0;
	padding: 8px 8px;
	transition: 0.2s;
	width: 220px;
}

.popup-button:hover {
	background-color: var(--pendo-dark-teal);
	border-color: var(--pendo-dark-teal);
	text-decoration: none;
}

.popup-button:focus {
	outline: 0;
}

.popup-link {
  	color: var(--pendo-teal);
	cursor: pointer;
	display: block;
	font-family: proxima-nova, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin: 16px auto 8px;
	outline: 0;
	text-align: center;
	text-decoration: none;
	transition: 0.2s;
	width: 220px;
}

.popup-link:hover {
	text-decoration: underline;

}

.popup-link:visited {
	color: var(--pendo-teal);
	
}