._pendota_container_ {
    max-height: 1200px;
    min-height: 500px;
    width: 440px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    background: white;
    padding: 20px;
}

#_pendota-tag-assistant_ {
    position:fixed;
    top:0;
    right:0;
    z-index: 99999999;
}

#_pendota_status_ {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    font-size: 11px;
}

._pendota-outline_ {
    outline: 2px dashed #028cc2;
}

._pendota-button_ {
    background-color: #229ca8;
    color: #fff;
    transition: 0.3s;
    float: right;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
}

._pendota-button_:hover {
    background-color: #718098;
    border-color: #718098;
    color: #fff;
}

._pendota_ h3 {
    color: #ec2059;
    font-weight: 700;
    padding-left: 20px;
}

._pendota_ h5 {
    font-weight: 700;
}

._pendota_form-control_ {
    border-radius: 2px;
    padding: 2px;
    background-color: #eeeeee;
    width: 100%;
}

._pendota_row-header_ {
    padding-top: 10px;
}

._pendota_input-row_ {
    padding-bottom: 10px;
}

#_pendota_target-img_ {
    width: 40px;
}

#_pendota_title_ {
    padding-bottom: 10px;
}

#_pendota_header-div_ {
    margin: 15px 0 15px;
}