._pendota_container_ {
    max-height: 1200px;
    min-height: 500px;
    width: 440px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    background: white;
    padding: 20px;
    margin: 0 auto;
}

._pendota-drag-container_ {
    display:block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
}

._pendota-draggable_ {
    touch-action: none;
    user-select: none;
}

#_pendota_header_div_ {
    padding-top: 0px;
    margin: 0 auto;
}

._pendota-feather-locked_ {
    height: 18px;
    width: 18px;
}

._pendota-feather-unlocked_ {
    height: 18px;
    width: 18px;
    stroke: #a9a9a9;
}

#_pendota-tag-assistant_ {
    display: block;
    position:fixed;
    top:0;
    right:0;
    z-index: 99999999;
    margin: 0 auto;
}

#_pendota_status_ {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    font-size: 11px;
    margin: 0 auto;
}

._pendota-outline_ {
    outline: 2px dashed #028cc2;
}

._pendota-button_ {
    background-color: #229ca8;
    color: #fff;
    transition: 0.3s;
    float: right;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
}

._pendota-button_:hover {
    background-color: #718098;
    border-color: #718098;
    color: #fff;
}

h3._pendota_ {
    color: #ec2059;
    font-weight: 700;
    padding-left: 20px;
    margin: 0 auto;
}

h5._pendota_  {
    font-weight: 700;
    margin: 0 auto;
}

._pendota_form-control_ {
    border-radius: 5px;
    padding: 5px;
    background-color: #efefef;
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
}

._pendota_row-header_ {
    padding-top: 10px;
    margin: 0 auto;
}

._pendota_input-row_ {
    padding-bottom: 10px;
    margin: 0 auto;
}

#_pendota_target-img_ {
    width: 40px;
    margin: 0 auto;
}

#_pendota_title_ {
    padding-bottom: 10px;
    margin: 0 auto;
}

#_pendota_header-div_ {
    margin: 15px 0 15px;
}