
._pendota-outline_ {
    outline: 2px dashed #028cc2;
}

/* Reset css for all pendota elements */
#_pendota-wrapper_,#_pendota-wrapper_ *,#_pendota-wrapper_ a:hover,#_pendota-wrapper_ a:visited,#_pendota-wrapper_ a:active{
	background:none;
	border:none;
    bottom:auto;
    clear:none;
    color: #222222;
	cursor:default;
    float:none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size:medium;
	font-style:normal;
	font-weight:normal;
	left:auto;
	letter-spacing:normal;
	line-height:normal;
	max-height:none;
	max-width:none;
	min-height:0;
	min-width:0;
	overflow:visible;
	position:static;
	right:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
    top:auto;
    vertical-align: middle;
	visibility:visible;
    white-space:normal;
    padding: 0;
    margin: 0;
}

#_pendota-wrapper_ ._pendota_container_ {
    max-height: 600px;
    overflow-y: scroll;
    min-height: 500px;
    max-width: 440px;
    width: 440px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    background: white;
    padding: 10px 20px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

#_pendota-wrapper_ ._pendota-drag-container_ {
    display:block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
}

#_pendota-wrapper_ ._pendota-draggable_ {
    touch-action: none;
    user-select: none;
}

#_pendota-wrapper_ #_pendota_header_div_ {
    padding-top: 0px;
    margin: 0 auto;
}

#_pendota-wrapper_ #_pendota-lock-icon_ {
    vertical-align: middle;
}

#_pendota-wrapper_ ._pendota-feather-locked_ {
    height: 18px;
    width: 18px;
}

#_pendota-wrapper_ ._pendota-feather-unlocked_ {
    height: 18px;
    width: 18px;
    stroke: #a9a9a9;
}

#_pendota-wrapper_ #_pendota-tag-assistant_ {
    display: block;
    position:fixed;
    top:0;
    right:0;
    z-index: 99999999;
    margin: 0 auto;
}

#_pendota-wrapper_ #_pendota_status_ {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    font-size: 11px;
    margin: 0 auto;
    padding-left: 5px;
}

#_pendota-wrapper_ ._pendota-button_ {
    background-color: #229ca8;
    color: #fff;
    transition: 0.3s;
    float: right;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
}

#_pendota-wrapper_ ._pendota-button_:hover {
    background-color: #718098;
    border-color: #718098;
    color: #fff;
}

#_pendota-wrapper_ h3._pendota_ {
    color: #ec2059;
    font-weight: 700;
    font-size: 24px;
    padding-left: 20px;
    margin: 0 auto;
}

#_pendota-wrapper_ h5._pendota_  {
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    padding-bottom: 5px;
}

#_pendota-wrapper_ ._pendota_form-control_ {
    border-radius: 5px;
    padding: 5px;
    background-color: #efefef;
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
}

#_pendota-wrapper_ ._pendota_row-header_ {
    padding-top: 10px;
    margin: 0 auto;
}

#_pendota-wrapper_ ._pendota_input-row_ {
    padding-bottom: 10px;
    margin: 0 auto;
}

#_pendota-wrapper_ #_pendota_target-img_ {
    width: 40px;
    margin: 0 auto;
}

#_pendota-wrapper_ #_pendota_title_ {
    padding-bottom: 10px;
    margin: 0 auto;
}

#_pendota-wrapper_ #_pendota_header-div_ {
    margin: 15px 0 15px;
}